<h1 class="ng-scope">Sacco Members</h1>
<div class="tableinnerlist">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr class="pdtab-h">
            <td style="text-align:left;">Member</td>
            <td >Member No.</td>

            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td style="padding-left:10px; text-align:left;">Lubega Mark Musisi</td>
            <td>SC0102978</td>
            <td><a href="#"><i class="fa fa-pencil"></i></a></td>

            <td><a href="#" ><i class="fa fa-remove"></i> </a></td>
        </tr>
        <tr>
            <td style="padding-left:10px; text-align:left;">Semakula Kraiba</td>
            <td>SC0102978</td>
            <td><a href="#"><i class="fa fa-pencil"></i></a></td>

            <td><a href="#" ><i class="fa fa-remove"></i> </a></td>
        </tr>
        <tr>
            <td style="padding-left:10px; text-align:left;">Rathan John Black</td>
            <td>SC0102978</td>
            <td><a href="#"><i class="fa fa-pencil"></i></a></td>

            <td><a href="#" ><i class="fa fa-remove"></i> </a></td>
        </tr>
        <tr>
            <td style="padding-left:10px; text-align:left;">John Doe Smith</td>
            <td>SC0102978</td>
            <td><a href="#"><i class="fa fa-pencil"></i></a></td>

            <td><a href="#" ><i class="fa fa-remove"></i> </a></td>
        </tr>
        <tr>
            <td style="padding-left:10px; text-align:left;">Ricardo Mandela</td>
            <td>SC0102978</td>
            <td><a href="#"><i class="fa fa-pencil"></i></a></td>

            <td><a href="#" ><i class="fa fa-remove"></i> </a></td>
        </tr>
        <tr>
            <td style="padding-left:10px; text-align:left;">Martin Luther Black</td>
            <td>SC0102978</td>
            <td><a href="#"><i class="fa fa-pencil"></i></a></td>

            <td><a href="#" ><i class="fa fa-remove"></i> </a></td>
        </tr>
        </tbody>
    </table>
</div>
