<h1 class="ng-scope">Sacco Members</h1>
<div class="tableinnerlist">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr class="pdtab-h">
            <td style="text-align:left;">Member</td>
            <td >Member No.</td>

            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr ng-repeat="member in members" ng-model="$scope.members">
            <td style="padding-left:10px; text-align:left;">{{member.user.first_name}} {{member.user.last_name}}</td>
            <td>{{member.id}}</td>
            <td><a href="#"><i class="fa fa-pencil"></i></a></td>

            <td><a href="#" ><i class="fa fa-remove"></i> </a></td>
        </tr>
        
        </tbody>
    </table>
</div>
