<div id="othleft-sidebar">
    <!--<div class="lsearch_bar">
                     <input type="text" name="" class="lsearch_bar_left" value="Search">
                    <input type="button" name="" class="sbut">
                    <div class="clear"></div>
      </div>-->
    <h1>Settings</h1>
    <ul id="yw0">
        <li  ng-class="{ list_active: isActive('/members') }" ><a class="vsd_ico" href="/#members">Notification Settings<span>Edit notification settings</span></a></li>
        <li  ng-class="{ list_active: isActive('/createMembers') }" ><a class="sl_ico" href="/#createMembers">Account Settings<span>Edit account settings</span></a></li>
        <li ng-class="{ list_active: isActive('/memberlogcategory') }"><a class="vsd_ico" href="/#memberlogcategory">Report Settings<span>Edit report settings</span></a></li>
        
    </ul>

</div>

