<div id="othleft-sidebar">
    <!--<div class="lsearch_bar">
                     <input type="text" name="" class="lsearch_bar_left" value="Search">
                    <input type="button" name="" class="sbut">
                    <div class="clear"></div>
      </div>-->
    <h1>Manage Members</h1>
    <ul id="yw0">
        <li  ng-class="{ list_active: isActive('/members') }" ><a class="vsd_ico" href="/#members">Members List<span>All Members Details</span></a></li>
        <li  ng-class="{ list_active: isActive('/createMembers') }" ><a class="sl_ico" href="/#createMembers">Create New Member<span>New Member</span></a></li>
        <li ng-class="{ list_active: isActive('/memberlogcategory') }"><a class="vsd_ico" href="/#memberlogcategory">Manage Log Category<span>Manage Member Log Category</span></a></li>
        <li ng-class="{ list_active: isActive('/membergroups') }"><a class="sm_ico" href="/#membergroups">Manage Member Groups<span>Manage Member Groups</span></a></li>
        <li><span><h1>Manage Next of Kins</h1></span></li>
        <li><a id="menu_2" class="lbook_ico" href="/#nextofkinlist">List Next of Kins<span>List Next of Kins</span></a></li>
    </ul>

</div>

