<div class="midnav">
    <div class="breadcrumbs">
        <a href="/index.php?r=mailbox">Home</a><a href="#loans">Loans</a><span>Loan Form</span></div>  </div>
<div class="container"> <div class="container">
    <div class="span-19">
        <div id="content">

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td width="247" valign="top">
                        <!--
                        <ng-include src="menu.html"></ng-include>
                        -->
                        <div ng-include="'partials/loans/menu.html'"></div>

                    </td>
                    <td valign="top">
                        <div class="cont_right formWrapper" ng-include="'partials/loans/includes/loan_form.html'">
                        </div>


                    </td>
                </tr>
                </tbody></table>		</div><!-- content -->
    </div>
    <div class="span-5 last">
        <div id="sidebar">
        </div><!-- sidebar -->
    </div>
</div>
    <div class="clear"></div>
</div>



