<div id="othleft-sidebar">
    <!--<div class="lsearch_bar">
                     <input type="text" name="" class="lsearch_bar_left" value="Search">
                    <input type="button" name="" class="sbut">
                    <div class="clear"></div>
      </div>-->
    <h1>Manage Loans</h1>
    <ul id="yw0">
        <li  ng-class="{ list_active: isActive('/members') }" ><a class="vsd_ico" href="/#members">Loan Application<span>Loan application form</span></a></li>
        <li  ng-class="{ list_active: isActive('/createMembers') }" ><a class="sl_ico" href="/#createMembers">Loan List<span>A list of all the loans</span></a></li>
        <li ng-class="{ list_active: isActive('/memberlogcategory') }"><a class="vsd_ico" href="/#memberlogcategory">Loan Status<span>Status of the loans</span></a></li>
        
    </ul>

</div>

