<div id="othleft-sidebar">
    <!--<div class="lsearch_bar">
                     <input type="text" name="" class="lsearch_bar_left" value="Search">
                    <input type="button" name="" class="sbut">
                    <div class="clear"></div>
      </div>-->
    <h1>Manage Loans</h1>
    <ul id="yw0">
     <li  ng-class="{ list_active: isActive('/loan_form') }" ><a class="vsd_ico" href="/#loan_form">Loan <span>Loan  form</span></a></li>
        <li  ng-class="{ list_active: isActive('/loan_application') }" ><a class="vsd_ico" href="/#loan_application">Loan Application<span>Loan application form</span></a></li>
        <li  ng-class="{ list_active: isActive('/loan_application') }" ><a class="vsd_ico" href="/#loan_type">Loan Type<span>Loan Type creation form</span></a></li>
        <li  ng-class="{ list_active: isActive('/loan_list') }" ><a class="sl_ico" href="/#loan_list">Loan List<span>A list of all the loans</span></a></li>
        <li ng-class="{ list_active: isActive('/loan_status') }"><a class="vsd_ico" href="/#loan_status">Loan Status<span>Status of the loans</span></a></li>
        <li ng-class="{ list_active: isActive('/loan_application_list') }"><a class="vsd_ico" href="/#loan_application_list">Loan Application List<span>List of Loan Application</span></a></li>
        <li ng-class="{ list_active: isActive('/security_article') }"><a class="vsd_ico" href="/#security_article">Security Article<span>Security article</span></a></li>
        <li ng-class="{ list_active: isActive('/loan_status') }"><a class="vsd_ico" href="/#security">Security<span>Security details</span></a></li>

    </ul>

</div>

