<div id="othleft-sidebar">
    <!--<div class="lsearch_bar">
                     <input type="text" name="" class="lsearch_bar_left" value="Search">
                    <input type="button" name="" class="sbut">
                    <div class="clear"></div>
      </div>-->
    <h1>Manage Notifications</h1>
    <ul id="yw0">
    <li  ng-class="{ list_active: isActive('/members') }" ><a class="vsd_ico" href="/#members">General Notifications<span>Notifications about the member</span></a></li>
        <li  ng-class="{ list_active: isActive('/members') }" ><a class="vsd_ico" href="/#members">Savings Notifications<span>Notifications about savings.</span></a></li>
        <li  ng-class="{ list_active: isActive('/createMembers') }" ><a class="sl_ico" href="/#createMembers">Loans Notifications<span>Notifications about loans</span></a></li>
        <li ng-class="{ list_active: isActive('/memberlogcategory') }"><a class="vsd_ico" href="/#memberlogcategory">Shares Notifications<span>Notifications about shares</span></a></li>
        
    </ul>

</div>

