
    <h1 class="ng-scope">Loan Form</h1>
    <style type="text/css" class="ng-scope">
        .formCon input[type="text"], input[type="password"], select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

        .formCon textarea{
            width: 58% !important;
            height:200px;
        }

        .formCon select{background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 78% !important;}

        .formCon input[type="text"] {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

    </style>
 <div class="formCon ">
            <div class="formConInner">
        <form ng-submit="vm.submitForm()">
            <label for="name">Application Form:</label>
           <select ng-model="application_name" ng-options="member.user.username for member in members">
               <option value="">Select Application Form</option>  <!--not selected option-->
           </select>
           <label for="name">Member Name:</label>
           <select ng-model="member_username" ng-options="member.user.username for member in members">
               <option value="">Select member</option>  <!--not selected option-->
           </select>
           <label for="name">Approval Date:</label>
           <input type="date" name="approval_date" id="date" ng-model="vm.approval_date" />
           <label for="password">Amount:</label>
           <input type="text" name="amount" id="amount" ng-model="vm.amount" />
           <label for="name">Payment Period:</label>
           <input type="date" name="payment_period" id="payment_period" ng-model="vm.payment_period" />
           <label for="name">Loan Type:</label>
           <select ng-model="savings_type" ng-options="savingtype.name for savingtype in savingtypes">
               <option value="">Select Loan Type</option>  <!--not selected option-->
           </select>
           <label for="password">Security Details:</label>
           <textarea id="security_detail" ng-model="vm.security_detail" ></textarea>
           <label for="security">Security:</label>
           <textarea id="security" ng-model="vm.security" ></textarea>
           <label for="password">Guarantors:</label>
           <textarea id="guarantors" ng-model="vm.guarantors" ></textarea>
           <button type="submit">Approve</button>
      </form>

            </div>
        </div>






