<h1 class="ng-scope">Loan Status</h1>
<div class="tableinnerlist">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tbody>
        <tr class="pdtab-h">
            <td style="text-align:left;">Member</td>
            <td >Member No.</td>

            <td>Loan</td>
            <td>Status</td>
            
        </tr>
        <tr ng-model="members" ng-repeat="member in members">
            <td style="padding-left:10px; text-align:left;" >{{ member.user.first_name }} {{ member.user.last_name }}</td>
            <td>{{ member.id }}</td>
            <td>1,200,000</td>
            <td>Pending</td>
        </tr>

        </tbody>
    </table>
</div>
