<div id="othleft-sidebar">
    <!--<div class="lsearch_bar">
                     <input type="text" name="" class="lsearch_bar_left" value="Search">
                    <input type="button" name="" class="sbut">
                    <div class="clear"></div>
      </div>-->
    <h1>Manage Shares</h1>
    <ul id="yw0">
        <li  ng-class="{ list_active: isActive('/shares') }" ><a class="vsd_ico" href="/#shares">Shares<span>Details of Member's Shares</span></a></li>
        <li  ng-class="{ list_active: isActive('/share_purchase') }" ><a class="sl_ico" href="/#share_purchase">Purchase Shares<span>Form for purchasing shares</span></a></li>
        <li ng-class="{ list_active: isActive('/share_transfer') }"><a class="vsd_ico" href="/#share_transfer">Transfer Shares<span>Form for transferring Shares</span></a></li>
        <li ng-class="{ list_active: isActive('/share_type') }"><a class="vsd_ico" href="/#share_type">Share Types<span>Form for creating types of shares</span></a></li>
        
    </ul>

</div>

