<div id="othleft-sidebar">
    <!--<div class="lsearch_bar">
                     <input type="text" name="" class="lsearch_bar_left" value="Search">
                    <input type="button" name="" class="sbut">
                    <div class="clear"></div>
      </div>-->
    <h1>Manage Account</h1>
    <ul id="yw0">
        <li  ng-class="{ list_active: isActive('/members') }" ><a class="vsd_ico" href="/#members">Account<span>Member Account Details</span></a></li>
        <li  ng-class="{ list_active: isActive('/createMembers') }" ><a class="sl_ico" href="/#createMembers">Transactions<span>List of Account Transactions</span></a></li>
        <li ng-class="{ list_active: isActive('/memberlogcategory') }"><a class="vsd_ico" href="/#memberlogcategory">Other Transactions<span>Others transaction list</span></a></li>
        
    </ul>

</div>

