
    <h1 class="ng-scope">Shares Type Form</h1>
    <style type="text/css" class="ng-scope">
        .formCon input[type="text"], input[type="password"], select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

        .formCon textarea{
            width: 58% !important;
            height:200px;
        }

        .formCon select{background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 78% !important;}

        .formCon input[type="text"] {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

    </style>
 <div class="formCon ">
            <div class="formConInner">
                <form class="form" method="post" ng-submit="vm.addSharetype()" >
        <formly-form model="vm.sharetype" fields="vm.sharetypeFields" form="vm.sharetypeForm">
        <button class="btn btn-primary" type="submit" ng-disabled="vm.sharetypeForm.$invalid">Create</button>
        </formly-form>        
      </form>
                       
            </div>
        </div>

        



            