
    <h1 class="ng-scope">Shares Purchase Form</h1>
    <style type="text/css" class="ng-scope">
        .formCon input[type="text"], input[type="password"], select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

        .formCon textarea{
            width: 58% !important;
            height:200px;
        }

        .formCon select{background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 78% !important;}

        .formCon input[type="text"] {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

    </style>
 <div class="formCon ">
            <div class="formConInner">
                <form >
           <label for="name">Member Name:</label>
           <!--<select ng-model="purchase.member" ng-options="member.user.username for member in members">
               <option value="member.user.id">Select member</option>
           </select> -->
                    <input type="text" name="member" id="share_price" ng-model="purchase.member" />
                    <label for="password">Current Share Price:</label>
           <input type="text" name="share_price" id="share_price" ng-model="purchase.current_share_price" />
           <label for="password">Number of Shares:</label>

           <input type="text" name="amount" id="amount" ng-model="purchase.number_of_shares" />
           <label for="name">Share Type:</label>
           <!--<select ng-model="purchase.share_type" ng-options="sharetype.share_class for sharetype in sharetypes">
               <option value="sharetype.id">Select Share Type</option>
           </select> -->
                    <input type="text" name="share_type" id="share_price" ng-model="purchase.share_type" />
           <button type="submit" ng-click="sharePurchase(purchase)">Purchase</button>
      </form>
                       
            </div>
        </div>

        



            