
    <h1 class="ng-scope">Deposit sForm</h1>
    <style type="text/css" class="ng-scope">
        .formCon input[type="text"], input[type="password"], textArea, select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

        .formCon select{background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 78% !important;}

        .formCon input[type="text"] {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #C2CFD8;
            border-radius: 2px;
            box-shadow: -1px 1px 2px #D5DBE0 inset;
            padding: 6px 3px;
            width: 175px !important;
        }

    </style>
 <div class="formCon ">
            <div class="formConInner">
                <form class="form" method="post" >


                <label>Member Name *</label>
                <select ng-model="deposit.member">
                    <option value="1">kraiba</option>

                </select>


                <label>Amount  *</label>
                <input type="text" ng-model="deposit.amount"/>



                <label>Savings Type  *</label>
                <input type="text" ng-model="deposit.savings_type"/>


            </form>
        <button class="btn btn-primary" ng-click="addDeposit(deposit)" type="submit">Deposit</button>

      </form>
                       
            </div>
        </div>

        



            